<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:couchdb="http://www.ektorp.org/schema/couchdb" xmlns:security="http://www.springframework.org/schema/security"
	 xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.1.xsd
         http://www.springframework.org/schema/mvc
      	 http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
     	 http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util-3.1.xsd
     	 http://www.ektorp.org/schema/couchdb http://www.ektorp.org/schema/couchdb/couchdb.xsd
     	 http://www.springframework.org/schema/security
		 http://www.springframework.org/schema/security/spring-security-3.1.xsd">


	<security:http auto-config="true">
		<security:intercept-url pattern="/housing/**" access="ROLE_USER" />
		<security:intercept-url pattern="/ui-jsp/**" access="ROLE_USER" />
		<security:form-login login-page="/loginForm" default-target-url="/loginSuccess"
			authentication-failure-url="/loginfailed"/>
		<security:logout logout-success-url="/logout" invalidate-session="true" delete-cookies="JSESSIONID"/>
		
		<security:session-management session-fixation-protection="newSession" invalid-session-url="/logout">
          <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="false" expired-url="/logout"/>
      </security:session-management>
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="guest1" password="guEst1" authorities="ROLE_USER" />
				<security:user name="guest2" password="guEst2" authorities="ROLE_USER" />
				<security:user name="amuser0" password="ui4r8x" authorities="ROLE_USER" />
				<security:user name="amuser1" password="1qwc34" authorities="ROLE_USER" />
				<security:user name="amuser2" password="9oht67" authorities="ROLE_USER" />
				<security:user name="amuser3" password="x56y2r" authorities="ROLE_USER" />
				<security:user name="amuser4" password="wwxt4g" authorities="ROLE_USER" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>

	<context:annotation-config />
	
	<context:property-placeholder location="classpath:connections.properties" />

	<context:component-scan base-package="au.org.housing.config" />
	<context:component-scan base-package="au.org.housing.start" />
	<context:component-scan base-package="au.org.housing.controller"  />
	<context:component-scan base-package="au.org.housing.service" scoped-proxy="interfaces"  />
	<context:component-scan base-package="au.org.housing.model" />

	<mvc:resources location="/resources/" mapping="/resources/**" />
	
	<mvc:resources location="/lib/" mapping="/lib/**" />

	<mvc:annotation-driven/>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- <property name="prefix" value="/WEB-INF/jsp/" /> -->
		<property name="prefix" value="/ui-jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>